In [1]:
import pandas as pd

In [2]:
import os

In [3]:
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
students_data_to_load = os.path.join("Resources", "students_complete.csv")

In [4]:
schools_complete = pd.read_csv("schools_complete.csv")

In [5]:
students_complete = pd.read_csv("students_complete.csv")

In [ ]:
students_complete.iloc[3, 1] = 'Richard Scott'

In [6]:
students_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
print(students_complete.shape,"\n")
print(students_complete.count(),"\n")
print(students_complete.isnull().sum(),"\n")

(39170, 7)

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [8]:
print(schools_complete.shape,"\n")
print(schools_complete.count(),"\n")
print(schools_complete.isnull().sum(),"\n")

(15, 5)

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

School ID      0
school_name    0
type           0
size           0
budget         0
dtype: int64

In [9]:
students_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [ ]:
student_names = students_complete['student_name'].tolist()

In [10]:
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [11]:
for i in prefixes_suffixes:
    students_complete['student_name']= students_complete['student_name'].str.replace(i,'')

In [12]:
students_complete.head(15)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67