In [2]:
import pandas as pd

In [3]:
import os

In [4]:
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
students_data_to_load = os.path.join("Resources", "students_complete.csv")

In [5]:
schools_complete = pd.read_csv("schools_complete.csv")

In [6]:
students_complete = pd.read_csv("students_complete.csv")

In [7]:
students_complete.iloc[3, 1] = 'Richard Scott'

In [8]:
students_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [9]:
print(students_complete.shape,"\n")
print(students_complete.count(),"\n")
print(students_complete.isnull().sum(),"\n")

(39170, 7)

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [10]:
print(schools_complete.shape,"\n")
print(schools_complete.count(),"\n")
print(schools_complete.isnull().sum(),"\n")

(15, 5)

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

School ID      0
school_name    0
type           0
size           0
budget         0
dtype: int64

In [11]:
students_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [12]:
student_names = students_complete['student_name'].tolist()

In [13]:
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [14]:
for i in prefixes_suffixes:
    students_complete['student_name']= students_complete['student_name'].str.replace(i,'')

In [31]:
students_complete.head(15)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67

In [33]:
school_data_complete_df = pd.merge(students_complete, schools_complete, on=['school_name', 'school_name'])

In [56]:
student_count = students_complete['Student ID'].count()
print(f"{student_count:,}")

39,170

In [115]:
school_count = len(school_data_complete_df["school_name"].unique())
school_count

15

In [117]:
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [157]:
total_budget = schools_complete['budget'].sum()
print(f"${total_budget:,.2f}")

$24,649,428.00

In [158]:
average_reading_score = school_data_complete_df['reading_score'].mean()

In [159]:
average_math_score = school_data_complete_df['math_score'].mean()

In [160]:
print(average_reading_score, average_math_score)

81.87784018381414 78.98537145774827

In [211]:
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [212]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [221]:
#Get the percentage of students who passed math and reading
passed_reading_percent = (passing_reading['Student ID'].count()/school_data_complete_df['Student ID'].count())*100
passed_math_percent = (passing_math['Student ID'].count() / school_data_complete_df['Student ID'].count())*100

In [229]:
print("Passed Reading % is : ", passed_reading_percent, "\nPassed Math % is : ",passed_math_percent)

Passed Reading % is :  85.80546336482001
Passed Math % is :  74.9808526933878

In [339]:
passed_math_reading = school_data_complete_df[
    (school_data_complete_df['reading_score']>= 70) & 
    (school_data_complete_df['math_score']>=70)
]

In [340]:
overall_passing_math_reading_count = passed_math_reading['student_name'].count()
overall_passing_percentage = overall_passing_math_reading_count / school_data_complete_df['student_name'].count()*100
overall_passing_percentage

65.17232575950983

In [353]:
district_summary_df = pd.DataFrame(
[{"Total Schools": school_count, 
  "Total Students": student_count,
  "Total Budget": total_budget,
  "Average Math Score": average_math_score, 
  "Average Reading Score": average_reading_score, 
  "% Passing Math": passed_math_percent, 
  "% Passing Reading": passed_reading_percent, 
  "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [354]:
district_summary_df['Total Students']= district_summary_df["Total Students"].map("{:,}".format)
district_summary_df['Total Budget']= district_summary_df['Total Budget'].map("${:,.2f}".format)
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].map("{:.1f}".format)
district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].map("{:.1f}".format)
district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].map("{:.0f}".format)
district_summary_df['% Passing Reading'] = district_summary_df['% Passing Reading'].map("{:.0f}".format)
district_summary_df['% Overall Passing'] = district_summary_df['% Overall Passing'].map("{:.0f}".format)

In [355]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [356]:
new_column_order = ['Total Schools', 'Total Students', 'Total Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']

In [357]:
df = district_summary_df[new_column_order]

In [358]:
df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65